body {
  color: #757575;
  background-color: rgba(245, 244, 250, 1);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* -------------------------HEADER-------------------- */
.header {
  background-color: #ffffff;
}
.logo1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}
.info-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.info-nav:hover,
.info-nav:focus {
  color: #2196f3;
}
/* -------------------------HERO----------------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
/* ------------------------MAIN--article--------------------- */
.article-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.article-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------------------------MAIN---------------------- */
.gallery-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.outteam {
  background-color: #f5f4fa;
}
.outteam-text1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.outteam-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.outteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------------------------FOOTER------------------- */
.footer {
  background-color: #2f303a;
}
.logo2-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-info-nav:hover,
.footer-info-nav:focus {
  color: #2196f3;
}
.footer-info-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* --------------------портфолио------------------------- */
.btn-navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.btn-navigation-link:hover,
.btn-navigation-link:focus {
  background-color: #2196f3;
}
.project-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-top {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: #757575;
}
